@{
    ViewData["Title"] = "Dashboard";
}
<div class="flex-grow-1 container-p-y">

    <section id="landingFAQ" class="section-py bg-body landing-faq">
        <div class="container">
            <div class="text-center mb-3 pb-1">
                <span class="badge bg-label-primary">Tentang Kita</span>
            </div>
            <h3 class="text-center mb-1">Tentang <span class="section-title">SI - PENELITI</span></h3>
            <p class="text-center mb-5 pb-3">Semua mengenai aplikasi SI - PENELITI.</p>
            <div class="row gy-5">
                <div class="d-flex justify-content-end col-lg-7">
                   <div class="col-10">
                        <p>
                            Selamat datang di Aplikasi Pengajuan Perizinan kami. Kami bertekad untuk menyederhanakan proses
                            pengajuan izin dengan memanfaatkan teknologi terkini. Dengan antarmuka yang ramah pengguna dan sistem
                            yang efisien, kami memudahkan pengguna dalam mengajukan berbagai jenis izin secara online.
                        </p>
                        <p>
                            Misi kami adalah memudahkan proses pengajuan, memberikan transparansi, dan memberikan pelayanan
                            pelanggan terbaik. Kami berkomitmen untuk memberikan pengalaman pengguna yang terbaik dalam mengurus
                            perizinan.
                        </p>
                        <p>
                            Bergabunglah dengan kami dalam menciptakan perubahan positif dalam dunia perizinan. Ajukan izin Anda
                            hari ini dan rasakan perbedaannya!
                        </p>
                   </div>
                </div>
                <div class="col-lg-5">
                    <div class="text-center">
                        <img src="~/img/front-pages/landing-page/coffe-dulu-gan.png" alt="faq boy with logos"
                             class="faq-image">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="landingFAQ" class="section-py landing-faq">
    <div class="container">
        <div class="text-center mb-3 pb-1">
            <span class="badge bg-label-primary">Pengenalan Fitur</span>
        </div>
        <h3 class="text-center mb-1">Fitur <span class="section-title">yang dimiliki aplikasi</span></h3>
        <p class="text-center mb-5 pb-3">Beberapa fitur yang dijelaskan secara detail.</p>
        <div class="row gy-5">
            <div class="col-lg-5">
                <div class="text-center">
                        <img src="~/img/front-pages/landing-page/ehh-apaan-tuh.png" alt="faq boy with logos"
                            class="faq-image">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="accordion" id="accordionExample">
                    <div class="card accordion-item active">
                        <h2 class="accordion-header" id="headingOne">
                            <button type="button" class="accordion-button" data-bs-toggle="collapse"
                                    data-bs-target="#accordionOne" aria-expanded="true" aria-controls="accordionOne">
                                    Pengajuan Izin Online
                            </button>
                        </h2>

                        <div id="accordionOne" class="accordion-collapse collapse show"
                                data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                    Fitur ini memungkinkan pengguna mengisi formulir pengajuan izin secara elektronik melalui platform aplikasi. Pengguna dapat mengakses formulir izin, mengisinya dengan informasi yang diperlukan, dan mengajukannya melalui aplikasi.
                            </div>
                        </div>
                    </div>
                    <div class="card accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#accordionTwo" aria-expanded="false" aria-controls="accordionTwo">
                                    Pelacakan Status Pengajuan
                            </button>
                        </h2>
                        <div id="accordionTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                    Pengguna dapat memantau status pengajuan izin mereka secara real-time. Mereka dapat melihat di mana proses pengajuan mereka berada, apakah dalam proses verifikasi, persetujuan, atau tahap lainnya.
                            </div>
                        </div>
                    </div>
                    <div class="card accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#accordionThree" aria-expanded="false"
                                    aria-controls="accordionThree">
                                    Notifikasi
                            </button>
                        </h2>
                        <div id="accordionThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                    Sistem notifikasi otomatis mengirimkan pemberitahuan kepada pengguna melalui email, SMS, atau aplikasi terkait perkembangan pengajuan izin mereka. Notifikasi ini mencakup informasi tentang persetujuan, penolakan, atau permintaan tambahan dokumen.
                            </div>
                        </div>
                    </div>
                    <div class="card accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#accordionFour" aria-expanded="false" aria-controls="accordionFour">
                                    Dokumen Pendukung
                            </button>
                        </h2>
                        <div id="accordionFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                    Pengguna dapat mengunggah dan melampirkan dokumen-dokumen pendukung yang diperlukan untuk memvalidasi pengajuan izin mereka. Ini bisa mencakup scan ID, surat dukungan, atau dokumen lainnya yang diperlukan oleh otoritas yang menerbitkan izin.
                            </div>
                        </div>
                    </div>
                    <div class="card accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#accordionFive" aria-expanded="false" aria-controls="accordionFive">
                                    Arsip Digital
                            </button>
                        </h2>
                        <div id="accordionFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                                data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                    Semua dokumen terkait pengajuan izin disimpan dalam format digital yang aman. Pengguna dapat mengakses arsip ini kapan saja dan di mana saja melalui aplikasi.
                            </div>
                        </div>
                    </div>
                        <div class="card accordion-item">
                            <h2 class="accordion-header" id="headingSix">
                                <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                                        data-bs-target="#accordionSix" aria-expanded="false" aria-controls="accordionSix">
                                    Laporan dan Analisis
                                </button>
                            </h2>
                            <div id="accordionSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Fitur ini memungkinkan administrator menghasilkan laporan tentang jumlah pengajuan izin, jenis izin yang paling umum, waktu rata-rata untuk persetujuan, dan statistik lainnya. Analisis ini membantu dalam perencanaan dan pengambilan keputusan.
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>

</div>


@section Style {

    <link rel="stylesheet" href="~/vendor/css/pages/front-page-landing.css" />
    <link rel="stylesheet" href="~/css/front-page.css" />

}