@{
    ViewData["Title"] = "Dashboard";
}
<div class="col-md-12  text-center">
    <div class="number font-red h1"> 403 </div>
    <div class="details">
        <h3>Oops! You're don't have access.</h3>
        <p>
            We cannot allow you to access this page.
            <br>
            <a href="/" class="btn btn-danger mt-3"> Return home </a>
        </p>
    </div>
</div>