@{
    ViewData["Title"] = "Dashboard";
}

<div data-bs-spy="scroll" class="scrollspy-example">
    <!-- Hero: Start -->
    <section id="hero-animation">
        <div id="landingHero" class="section-py landing-hero position-relative">
            <div class="container">
                <div class="hero-text-box text-center">
                    <h1 class="text-primary hero-title display-4 fw-bold">
                        Sistem Informasi Izin Penelitian Terdepan
                    </h1>
                    <h2 class="hero-sub-title h6 mb-4 pb-1">
                        Permudah Proses Penelitian Anda <br class="d-none d-lg-block">
                        dengan Sistem Informasi Izin Penelitian Online
                    </h2>
                    <div class="landing-hero-btn d-inline-block position-relative">
                        <span class="hero-btn-item position-absolute d-none d-md-flex text-heading">
                            Join Sekarang
                            <img src="img/front-pages/icons/Join-community-arrow.png" alt="Join community arrow"
                                 class="scaleX-n1-rtl">
                        </span>
                        <a href="#" class="btn btn-primary" data-bs-target="#registModal" data-bs-toggle="modal" data-bs-dismiss="modal">Daftar Sekarang</a>
                    </div>
                </div>
                <div id="heroDashboardAnimation" class="hero-animation-img mt-5">
                    <a href="../vertical-menu-template/app-ecommerce-dashboard.html" target="_blank">
                        <div id="heroAnimationImg" class="position-relative hero-dashboard-img"
                             style="transform: perspective(1200px) scale(1) rotateX(0deg) rotateY(0deg);">
                            <img src="img/front-pages/landing-page/home-page.png" alt="hero dashboard"
                                 class="animation-img">
                           
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="landing-hero-blank"></div>
    </section>
    <!-- Hero: End -->
    <!-- Useful features: Start -->
    <section id="landingFeatures" class="section-py landing-features">
        <div class="container">
            <div class="text-center mb-3 pb-1">
                <span class="badge bg-label-primary">Fitur Umum SI - PENELITI</span>
            </div>
            <h3 class="text-center mb-1">
                <span class="section-title">Apa saja fitur </span> yang dimiliki SI - PENELITI ?
            </h3>
            <p class="text-center mb-3 mb-md-5 pb-3">
                Beberapa fitur yang disediakan oleh SI - PENELITI
            </p>
            <div class="features-icon-wrapper row gx-0 gy-4 g-sm-5">
                <div class="col-lg-4 col-sm-6 text-center features-icon-box">
                    <div class="text-center mb-3">
                        <img src="img/front-pages/icons/rocket.png">
                    </div>
                    <h5 class="mb-3">Tanpa Instalasi</h5>
                    <p class="features-icon-description">
                        Tidak perlu instal software apapun untuk menggunakannya
                    </p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center features-icon-box">
                    <div class="text-center mb-3">
                        <img src="img/front-pages/icons/laptop.png">
                    </div>
                    <h5 class="mb-3">Multi Platform & Multi Akses</h5>
                    <p class="features-icon-description">
                        Dapat diakses melalui Dekstop, Laptop, Tablet maupun Mobile Phone
                    </p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center features-icon-box">
                    <div class="text-center mb-3">
                        <img src="img/front-pages/icons/keyboard.png" alt="edit">
                    </div>
                    <h5 class="mb-3">Responsive Design</h5>
                    <p class="features-icon-description">
                        Tampilan menyesuaikan perangkat yang digunakan untuk memudahkan pengguna
                    </p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center features-icon-box">
                    <div class="text-center mb-3">
                        <img src="img/front-pages/icons/check.png" alt="3d select solid">
                    </div>
                    <h5 class="mb-3">Real Time Process</h5>
                    <p class="features-icon-description">
                        Mengelola data izin penelitian secara langsung setiap waktu
                    </p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center features-icon-box">
                    <div class="text-center mb-3">
                        <img src="img/front-pages/icons/user.png" alt="lifebelt">
                    </div>
                    <h5 class="mb-3">Bantuan Pengguna</h5>
                    <p class="features-icon-description">
                        Bantuan terhadap pengguna jika mengalami kesulitan dalam menggunakan aplikasi
                    </p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center features-icon-box">
                    <div class="text-center mb-3">
                        <img src="img/front-pages/icons/docs.png" alt="google docs">
                    </div>
                    <h5 class="mb-3">Panduan Lengkap</h5>
                    <p class="features-icon-description">
                        Terdapat panduan tentang bagaimana menggunakan aplikasi secara rinci.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Useful features: End -->

    <section id="landingTeam" class="section-py landing-pricing">
        <div class="container">
            <div class="text-center mb-3 pb-1">
                <span class="badge bg-label-primary">Prosedur Aplikasi</span>
            </div>
            <h3 class="text-center mb-1"><span class="section-title">Prosedur</span> penggunaan aplikasi</h3>
            <p class="text-center mb-md-5 pb-3">Prosedur Aplikasi SI - PENELITI dari awal sampai akhir</p>
            <div class="row gy-5 mt-2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main-timeline">
                                <a href="#" class="timeline">
                                    <div class="timeline-icon"><i class="bx bxs-graduation mb-2"></i></div>
                                    <div class="timeline-content">
                                        <h3 class="title">Pemohon</h3>
                                        <p class="description">
                                            Pemohon mendaftarkan akun terlebih dahulu lalu pemohon melakukan input
                                            permohonan izin untuk mengajkan izin penelitian yang akan dilakukan
                                        </p>
                                    </div>
                                </a>
                                <a href="#" class="timeline">
                                    <div class="timeline-icon"><i class="bx bxs-user-account mb-2"></i></div>
                                    <div class="timeline-content">
                                        <h3 class="title">Admin</h3>
                                        <p class="description">
                                            Admin melakukan verifikasi izin dan menerbitkan rekomendasi, yang akan
                                            diberikan kepada Badan Peneliti Daerah yang bersangkutan dan Pemohon
                                        </p>
                                    </div>
                                </a>
                                <a href="#" class="timeline">
                                    <div class="timeline-icon"><i class="bx bxs-user-voice mb-2"></i></div>
                                    <div class="timeline-content">
                                        <h3 class="title">Badan Peneliti Daerah</h3>
                                        <p class="description">
                                            Menerbitkan izin yang sudah dibuat oleh pemohon dan dikirim oleh Admin,
                                            sehingga pemohon dapat menerima izin penelitian
                                        </p>
                                    </div>
                                </a>
                                <a href="#" class="timeline">
                                    <div class="timeline-icon"><i class="bx bxs-envelope mb-2"></i></div>
                                    <div class="timeline-content">
                                        <h3 class="title">Pengiriman Izin Penelitian</h3>
                                        <p class="description">
                                            Izin Penelitian akan diterbitkan melalui aplikasi atau dikirim melalui email
                                            yang bersangkutan
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Our great team: Start -->
    <section id="landingTeam" class="section-py">
        <div class="container">
            <div class="text-center mb-3 pb-1">
                <span class="badge bg-label-primary">Manfaat</span>
            </div>
            <h3 class="text-center mb-1"><span class="section-title">Apa manfaat</span> penggunaan aplikasi ?</h3>
            <p class="text-center mb-md-5 pb-3">Manfaat yang di diperoleh dalam menggunakan aplikasi SI - PENELITI</p>
            <div class="row gy-5 mt-2">
                <div class="col-lg-6 col-sm-12">
                    <div class="card p-3 mt-lg-0">
                        <div class="card-header">
                            <h5 class="mb-0">Bagi Pemohon</h5>
                        </div>
                        <div class="demo-inline-spacing">
                            <ul class="list-group">
                                <li class="list-group-item d-flex align-items-center">
                                    <i class="bx bx-tv me-2"></i>
                                    Soufflé pastry pie ice
                                </li>
                                <li class="list-group-item d-flex align-items-center">
                                    <i class="bx bx-bell me-2"></i>
                                    Bear claw cake biscuit
                                </li>
                                <li class="list-group-item d-flex align-items-center">
                                    <i class="bx bx-support me-2"></i>
                                    Tart tiramisu cake
                                </li>
                                <li class="list-group-item d-flex align-items-center">
                                    <i class="bx bx-purchase-tag-alt me-2"></i>
                                    Bonbon toffee muffin
                                </li>
                                <li class="list-group-item d-flex align-items-center">
                                    <i class="bx bx-closet me-2"></i>
                                    Dragée tootsie roll
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="card p-3 mt-lg-0">
                        <div class="card-header">
                            <h5 class="mb-0">Bagi Badan Penelitian Daerah</h5>
                        </div>
                        <div class="demo-inline-spacing">
                            <ul class="list-group">
                                <li class="list-group-item d-flex align-items-center">
                                    <i class="bx bx-tv me-2"></i>
                                    Soufflé pastry pie ice
                                </li>
                                <li class="list-group-item d-flex align-items-center">
                                    <i class="bx bx-bell me-2"></i>
                                    Bear claw cake biscuit
                                </li>
                                <li class="list-group-item d-flex align-items-center">
                                    <i class="bx bx-support me-2"></i>
                                    Tart tiramisu cake
                                </li>
                                <li class="list-group-item d-flex align-items-center">
                                    <i class="bx bx-purchase-tag-alt me-2"></i>
                                    Bonbon toffee muffin
                                </li>
                                <li class="list-group-item d-flex align-items-center">
                                    <i class="bx bx-closet me-2"></i>
                                    Dragée tootsie roll
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Our great team: End -->
    <!-- Pricing plans: Start -->
    <section id="landingPricing" class="section-py  landing-pricing">
        <div class="container">
            <div class="text-center mb-3 pb-1">
                <span class="badge bg-label-primary">Grafik Laporan</span>
            </div>
            <h3 class="text-center mb-1"><span class="section-title">Grafik Laporan</span> Penelitian</h3>
            <p class="text-center mb-4 pb-3">
                Beberapa grafik laporan penelitian yang sudah di ajukan pada aplikasi SI - PENELITI
            </p>

            <div class="row gy-4 pt-lg-3">
                <div class="col-md-6 order-0 mb-4">
                    <div class="card h-100">
                        <div class="card-header d-flex align-items-center justify-content-between pb-0">
                            <div class="card-title mb-0">
                                <h5 class="m-0 me-2"> Statistik Pengajuan</h5>
                                <small class="text-muted">42.82k Total Pengajuan</small>
                            </div>
                            <div class="dropdown">
                                <button class="btn p-0" type="button" id="orederStatistics" data-bs-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="orederStatistics">
                                    <a class="dropdown-item" href="javascript:void(0);">Select All</a>
                                    <a class="dropdown-item" href="javascript:void(0);">Refresh</a>
                                    <a class="dropdown-item" href="javascript:void(0);">Share</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <div class="d-flex flex-column align-items-center gap-1">
                                    <h2 class="mb-2">8,258</h2>
                                    <span>Total Orders</span>
                                </div>
                                <div id="orderStatisticsChart"></div> @*CHART NYA*@
                            </div>
                            <ul class="p-0 m-0">
                                <li class="d-flex mb-4 pb-1">
                                    <div class="avatar flex-shrink-0 me-3">
                                        <span class="avatar-initial rounded bg-label-primary">
                                            <i class="bx bx-mobile-alt"></i>
                                        </span>
                                    </div>
                                    <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                        <div class="me-2">
                                            <h6 class="mb-0">Electronic</h6>
                                            <small class="text-muted">Mobile, Earbuds, TV</small>
                                        </div>
                                        <div class="user-progress">
                                            <small class="fw-medium">82.5k</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="d-flex mb-4 pb-1">
                                    <div class="avatar flex-shrink-0 me-3">
                                        <span class="avatar-initial rounded bg-label-success">
                                            <i class="bx bx-closet"></i>
                                        </span>
                                    </div>
                                    <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                        <div class="me-2">
                                            <h6 class="mb-0">Fashion</h6>
                                            <small class="text-muted">T-shirt, Jeans, Shoes</small>
                                        </div>
                                        <div class="user-progress">
                                            <small class="fw-medium">23.8k</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="d-flex mb-4 pb-1">
                                    <div class="avatar flex-shrink-0 me-3">
                                        <span class="avatar-initial rounded bg-label-info">
                                            <i class="bx bx-home-alt"></i>
                                        </span>
                                    </div>
                                    <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                        <div class="me-2">
                                            <h6 class="mb-0">Decor</h6>
                                            <small class="text-muted">Fine Art, Dining</small>
                                        </div>
                                        <div class="user-progress">
                                            <small class="fw-medium">849k</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="d-flex">
                                    <div class="avatar flex-shrink-0 me-3">
                                        <span class="avatar-initial rounded bg-label-secondary">
                                            <i class="bx bx-football"></i>
                                        </span>
                                    </div>
                                    <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                        <div class="me-2">
                                            <h6 class="mb-0">Sports</h6>
                                            <small class="text-muted">Football, Cricket Kit</small>
                                        </div>
                                        <div class="user-progress">
                                            <small class="fw-medium">99</small>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 order-1 mb-4">
                    <div class="card h-100">
                        <div class="card-header">
                            <div class="card-title mb-0">
                                <h5 class="m-0 me-2"> Statistik Pengajuan</h5>
                                <small class="text-muted">42.82k Total Pengajuan</small>
                            </div>
                        </div>
                        <div class="card-body px-0">
                            <div class="tab-content p-0">
                                <div class="tab-pane fade show active" id="navs-tabs-line-card-income" role="tabpanel">
                                    <div class="d-flex p-4 pt-3">
                                        <div class="avatar flex-shrink-0 me-3">
                                            <img src="/img/icons/unicons/wallet.png" alt="User" />
                                        </div>
                                        <div>
                                            <small class="text-muted d-block">Total Balance</small>
                                            <div class="d-flex align-items-center">
                                                <h6 class="mb-0 me-1">$459.10</h6>
                                                <small class="text-success fw-medium">
                                                    <i class="bx bx-chevron-up"></i>
                                                    42.9%
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="incomeChart"></div>
                                    <div class="d-flex justify-content-center pt-4 gap-2">
                                        <div class="flex-shrink-0">
                                            <div id="expensesOfWeek"></div>
                                        </div>
                                        <div>
                                            <p class="mb-n1 mt-1">Expenses This Week</p>
                                            <small class="text-muted">$39 less than last week</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row gy-4 pt-lg-3">
                <div class="col-sm-6 col-lg-3">
                    <div class="card border border-label-primary shadow-none">
                        <div class="card-body text-center">
                            <img src="img/front-pages/icons/laptop.png" alt="laptop" class="mb-2">
                            <h5 class="h2 mb-1">7.1k+</h5>
                            <p class="fw-medium mb-0">
                                Support Tickets<br>
                                Resolved
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="card border border-label-success shadow-none">
                        <div class="card-body text-center">
                            <img src="img/front-pages/icons/user-success.png" alt="laptop" class="mb-2">
                            <h5 class="h2 mb-1">50k+</h5>
                            <p class="fw-medium mb-0">
                                Join creatives<br>
                                community
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="card border border-label-info shadow-none">
                        <div class="card-body text-center">
                            <img src="img/front-pages/icons/diamond-info.png" alt="laptop" class="mb-2">
                            <h5 class="h2 mb-1">4.8/5</h5>
                            <p class="fw-medium mb-0">
                                Highly Rated<br>
                                Products
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="card border border-label-warning shadow-none">
                        <div class="card-body text-center">
                            <img src="img/front-pages/icons/check-warning.png" alt="laptop" class="mb-2">
                            <h5 class="h2 mb-1">100%</h5>
                            <p class="fw-medium mb-0">
                                Money Back<br>
                                Guarantee
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- Pricing plans: End -->
    <!-- FAQ: Start -->
    <section id="landingFAQ" class="section-py bg-body landing-faq">
        <div class="container">
            <div class="text-center mb-3 pb-1">
                <span class="badge bg-label-primary">FAQ</span>
            </div>
            <h3 class="text-center mb-1">Frequently asked <span class="section-title">questions</span></h3>
            <p class="text-center mb-5 pb-3">Browse through these FAQs to find answers to commonly asked questions.</p>
            <div class="row gy-5">
                <div class="col-lg-5">
                    <div class="text-center">
                        <img src="img/front-pages/landing-page/faq-boy-with-logos.png" alt="faq boy with logos"
                             class="faq-image">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="accordion" id="accordionExample">
                        <div class="card accordion-item active">
                            <h2 class="accordion-header" id="headingOne">
                                <button type="button" class="accordion-button" data-bs-toggle="collapse"
                                        data-bs-target="#accordionOne" aria-expanded="true" aria-controls="accordionOne">
                                    Do you charge for each upgrade?
                                </button>
                            </h2>

                            <div id="accordionOne" class="accordion-collapse collapse show"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Lemon drops chocolate cake gummies carrot cake chupa chups muffin topping. Sesame
                                    snaps icing
                                    marzipan gummi bears macaroon dragée danish caramels powder. Bear claw dragée pastry
                                    topping
                                    soufflé. Wafer gummi bears marshmallow pastry pie.
                                </div>
                            </div>
                        </div>
                        <div class="card accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                                        data-bs-target="#accordionTwo" aria-expanded="false" aria-controls="accordionTwo">
                                    Do I need to purchase a license for each website?
                                </button>
                            </h2>
                            <div id="accordionTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Dessert ice cream donut oat cake jelly-o pie sugar plum cheesecake. Bear claw dragée
                                    oat cake
                                    dragée ice cream halvah tootsie roll. Danish cake oat cake pie macaroon tart donut
                                    gummies. Jelly
                                    beans candy canes carrot cake. Fruitcake chocolate chupa chups.
                                </div>
                            </div>
                        </div>
                        <div class="card accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                                        data-bs-target="#accordionThree" aria-expanded="false"
                                        aria-controls="accordionThree">
                                    What is regular license?
                                </button>
                            </h2>
                            <div id="accordionThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Regular license can be used for end products that do not charge users for access or
                                    service(access
                                    is free and there will be no monthly subscription fee). Single regular license can
                                    be used for
                                    single end product and end product can be used by you or your client. If you want to
                                    sell end
                                    product to multiple clients then you will need to purchase separate license for each
                                    client. The
                                    same rule applies if you want to use the same end product on multiple domains(unique
                                    setup). For
                                    more info on regular license you can check official description.
                                </div>
                            </div>
                        </div>
                        <div class="card accordion-item">
                            <h2 class="accordion-header" id="headingFour">
                                <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                                        data-bs-target="#accordionFour" aria-expanded="false" aria-controls="accordionFour">
                                    What is extended license?
                                </button>
                            </h2>
                            <div id="accordionFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis et aliquid quaerat
                                    possimus maxime!
                                    Mollitia reprehenderit neque repellat delenibx delectus architecto dolorum maxime,
                                    blanditiis
                                    earum ea, incidunt quam possimus cumque.
                                </div>
                            </div>
                        </div>
                        <div class="card accordion-item">
                            <h2 class="accordion-header" id="headingFive">
                                <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                                        data-bs-target="#accordionFive" aria-expanded="false" aria-controls="accordionFive">
                                    Which license is applicable for SASS application?
                                </button>
                            </h2>
                            <div id="accordionFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi molestias
                                    exercitationem ab cum
                                    nemo facere voluptates veritatis quia, eveniet veniam at et repudiandae mollitia
                                    ipsam quasi
                                    labore enim architecto non!
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- FAQ: End -->
    <!-- CTA: Start -->
    <section id="landingCTA" class="section-py landing-cta p-lg-0 pb-0">
        <div class="container">
            <div class="row align-items-center gy-5 gy-lg-0">
                <div class="col-lg-6 text-center text-lg-start">
                    <h6 class="h2 text-primary fw-bold mb-1">Ready to Get Started?</h6>
                    <p class="fw-medium mb-4">Start your project with a 14-day free trial</p>
                    <a href="payment-page.html" class="btn btn-primary">Get Started</a>
                </div>
                <div class="col-lg-6 pt-lg-5 text-center text-lg-end">
                    <img src="img/front-pages/landing-page/cta-dashboard.png" alt="cta dashboard" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
    <!-- CTA: End -->
    <!-- Contact Us: Start -->
    <section id="landingContact" class="section-py bg-body landing-contact">
        <div class="container">
            <div class="text-center mb-3 pb-1">
                <span class="badge bg-label-primary">Hubungi Kami</span>
            </div>
            <h3 class="text-center mb-1"><span class="section-title">Berikan </span> saranmu</h3>
            <p class="text-center mb-4 mb-lg-5 pb-md-3">Setiap kritik dan saran anda adalah tanggapan kami</p>
            <div class="row gy-4">
                <div class="col-lg-5">
                    <div class="contact-img-box position-relative border p-2 h-100">
                        <img src="img/front-pages/landing-page/contact-customer-service.png"
                             alt="contact customer service" class="contact-img w-100 scaleX-n1-rtl img-fluid">
                        <div class="pt-3 px-4 pb-1">
                            <div class="row gy-3 gx-md-4">
                                <div class="col-md-6 col-lg-12 col-xl-6">
                                    <div class="d-flex align-items-center">
                                        <div class="badge bg-label-primary rounded p-2 me-2">
                                            <i class="bx bx-envelope bx-sm"></i>
                                        </div>
                                        <div>
                                            <p class="mb-0">Email</p>
                                            <h5 class="mb-0">
                                                <a href="mailto:example@gmail.com"
                                                   class="text-heading">example@gmail.com</a>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-12 col-xl-6">
                                    <div class="d-flex align-items-center">
                                        <div class="badge bg-label-success rounded p-2 me-2">
                                            <i class="bx bx-phone-call bx-sm"></i>
                                        </div>
                                        <div>
                                            <p class="mb-0">Phone</p>
                                            <h5 class="mb-0">
                                                <a href="tel:+1234-568-963" class="text-heading">
                                                    +1234 568
                                                    963
                                                </a>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="mb-1">Send a message</h4>
                            <p class="mb-4">
                                If you would like to discuss anything related to payment, account, licensing,<br class="d-none d-lg-block">
                                partnerships, or have pre-sales questions, you’re at the right place.
                            </p>
                            <form>
                                <div class="row g-4">
                                    <div class="col-md-6">
                                        <label class="form-label" for="contact-form-fullname">Full Name</label>
                                        <input type="text" class="form-control" id="contact-form-fullname"
                                               placeholder="john">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label" for="contact-form-email">Email</label>
                                        <input type="text" id="contact-form-email" class="form-control"
                                               placeholder="johndoe@gmail.com">
                                    </div>
                                    <div class="col-12">
                                        <label class="form-label" for="contact-form-message">Message</label>
                                        <textarea id="contact-form-message" class="form-control" rows="9"
                                                  placeholder="Write a message"></textarea>
                                    </div>
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary">Send inquiry</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Us: End -->
</div>

@section Style{

    <link rel="stylesheet" href="~/css/front-page.css" />
    <link rel="stylesheet" href="~/css/timeline.css" />
    <link rel="stylesheet" href="~/vendor/libs/nouislider/nouislider.css" />
    <link rel="stylesheet" href="~/vendor/libs/swiper/swiper.css" />
    <link rel="stylesheet" href="~/vendor/css/pages/front-page-landing.css" />

}
@section Scripts {


    <!-- Vendors JS -->
    <script src="~/vendor/libs/apex-charts/apexcharts.js"></script>
    <script src="~/vendor/js/template-customizer-front-page.js"></script>
    <script src="~/vendor/js/mega-dropdown.js"></script>
    <!-- Vendors JS -->
    <script src="~/vendor/libs/nouislider/nouislider.js"></script>
    <script src="~/vendor/libs/swiper/swiper.js"></script>
    <!-- Main JS -->
    <script src="~/js/front-main.js"></script>


}