@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="py-5 mt-4">
        <h1>Kebijakan Privasi untuk SI PENELITI</h1>
    <p>Jika Anda memerlukan informasi lebih lanjut atau memiliki pertanyaan tentang kebijakan privasi kami, jangan ragu untuk menghubungi kami melalui email di [KONTAK@ALAMATEMAIL.COM].</p>
    <p>Di [URL SITUS ANDA], kami menganggap privasi pengunjung kami sangat penting. Dokumen kebijakan privasi ini menjelaskan secara rinci jenis informasi pribadi yang dikumpulkan dan dicatat oleh [URL SITUS ANDA] dan bagaimana kami menggunakannya.</p>
    <p><b>File Log</b><br /> Seperti banyak situs web lainnya, [URL SITUS ANDA] menggunakan file log. File-file ini hanya mencatat kunjungan pengunjung ke situs - biasanya merupakan prosedur standar untuk perusahaan hosting dan bagian dari analisis layanan hosting. Informasi dalam file log mencakup alamat protokol internet (IP), jenis browser, Penyedia Layanan Internet (ISP), cap waktu/tanggal, halaman rujukan/keluar, dan mungkin jumlah klik. Informasi ini digunakan untuk menganalisis tren, mengelola situs, melacak pergerakan pengguna di sekitar situs, dan mengumpulkan informasi demografis. Alamat IP, dan informasi semacam itu tidak terkait dengan informasi yang dapat diidentifikasi secara pribadi.</p>
    <p><b>Cookies dan Web Beacons</b><br /> [URL SITUS ANDA] menggunakan cookies untuk menyimpan informasi tentang preferensi pengunjung, merekam informasi spesifik pengguna tentang halaman mana yang diakses atau dikunjungi oleh pengunjung situs, dan untuk mempersonalisasi atau menyesuaikan konten halaman web kami berdasarkan jenis browser pengunjung atau informasi lain yang pengunjung kirim melalui browser mereka.</p>
    <p><b>DoubleClick DART Cookie</b><br /> </p>
    <p>
        → Google, sebagai vendor pihak ketiga, menggunakan cookies untuk menampilkan iklan di [URL SITUS ANDA].<br /><br />
        → Penggunaan cookie DART oleh Google memungkinkan iklan disajikan kepada pengunjung situs kami berdasarkan kunjungan mereka ke [URL SITUS ANDA] dan situs lain di Internet. <br /><br />
        → Pengguna dapat memilih keluar dari penggunaan cookie DART dengan mengunjungi kebijakan privasi jaringan iklan dan konten Google di URL berikut – <a href="http://www.google.com/privacy_ads.html">http://www.google.com/privacy_ads.html</a>
    </p>
    <p><b>Mitra Periklanan Kami</b><br /> </p>
    <p> Beberapa mitra periklanan kami mungkin menggunakan cookies dan web beacon di situs kami. Mitra periklanan kami termasuk ……. <br /></p>
    <ul>
        <li>Google</li>
        <li>Commission Junction</li>
        <li>Amazon</li>
        <li>Adbrite</li>
        <li>Clickbank</li>
        <li>Yahoo! Publisher Network</li>
        <li>Chitika</li>
        <li>Kontera</li>
    </ul>
    <p>
        <em>
            Sementara setiap mitra periklanan ini memiliki Kebijakan Privasi mereka sendiri untuk situs mereka, sumber daya yang diperbarui dan dihubungkan disimpan di sini: <a href="https://www.privacypolicyonline.com/privacy-policy-links/">Tautan Kebijakan Privasi</a>.<br /> <br />
            Anda dapat berkonsultasi pada daftar ini untuk menemukan kebijakan privasi masing-masing mitra periklanan dari [URL SITUS ANDA].
        </em>
    </p>
    <p> Server iklan pihak ketiga atau jaringan iklan menggunakan teknologi di iklan dan tautan mereka yang muncul di [URL SITUS ANDA] dan yang dikirim langsung ke browser Anda. Mereka secara otomatis menerima alamat IP Anda ketika ini terjadi. Teknologi lainnya (seperti cookies, JavaScript, atau Web Beacons) juga dapat digunakan oleh jaringan iklan pihak ketiga situs web kami untuk mengukur efektivitas kampanye iklan mereka dan/atau untuk mempersonalisasi konten iklan yang Anda lihat di situs.</p>
    <p> [URL SITUS ANDA] tidak memiliki akses atau kendali atas cookies ini yang digunakan oleh pengiklan pihak ketiga.</p>
    </p>
    <p>
        <b>Kebijakan Privasi Pihak Ketiga</b><br />
        Anda sebaiknya berkonsultasi dengan kebijakan privasi masing-masing server iklan pihak ketiga tersebut untuk informasi lebih rinci tentang praktik mereka serta petunjuk tentang cara memilih keluar dari praktik tertentu. Kebijakan privasi [URL SITUS ANDA] tidak berlaku untuk, dan kami tidak dapat mengendalikan aktivitas, iklan lainnya atau situs web. Anda dapat menemukan daftar komprehensif dari kebijakan privasi ini dan tautannya di sini: <a href="https://www.privacypolicyonline.com/privacy-policy-links/" title="Tautan Kebijakan Privasi">Tautan Kebijakan Privasi</a>.
    </p>
    <p> Jika Anda ingin menonaktifkan cookies, Anda dapat melakukannya melalui opsi browser individu Anda. Informasi lebih rinci tentang pengelolaan cookies dengan browser web tertentu dapat ditemukan di situs web masing-masing browser. <a href="https://www.privacypolicyonline.com/what-are-cookies/">Apa Itu Cookies?</a></p>
    <p>
        <b>Kebijakan Privasi Online Hanya</b><br />
        Kebijakan privasi ini hanya berlaku untuk aktivitas online kami dan berlaku bagi pengunjung situs web kami dan informasi yang dibagikan dan/atau dikumpulkan di sana.<br />
        Kebijakan ini tidak berlaku untuk informasi yang dikumpulkan secara offline atau melalui saluran selain situs web ini.
    </p>
    <p>
        <b>Setuju</b><br />
        Dengan menggunakan situs web kami, Anda dengan ini menyetujui kebijakan privasi kami dan menyetujui ketentuannya.
    </p>
    <p><b>Perbarui</b><br />Kebijakan Privasi ini terakhir diperbarui pada: 1 November 2019. Jika kami memperbarui, mengubah, atau membuat perubahan apapun pada kebijakan privasi kami, perubahan tersebut akan diposting di sini.</p>
    <p><!-- AKHIR dari Kebijakan Privasi || Dihasilkan oleh http://www.PrivacyPolicyOnline.com || --></p>

</div>
    </div>
    


@section Style {

    <link rel="stylesheet" href="~/vendor/css/pages/front-page-landing.css" />
    <link rel="stylesheet" href="~/css/front-page.css" />

}